@font-face {
   font-family: 'TS Block Bold';
   font-display: swap;
   src: url('file:///C:/Users/alscg/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-01-17_083847/fonts/TS%20Block%20Bold/font.ttf');
}
